<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/bootstrap-5.0.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/fontawesome-5.15.3/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/estilo.css}">
    <title>Projeto de Comentários</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" th:href="@{/}">Projeto de comentários</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" th:href="@{/}">Conteúdos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/usuario/list}">Usuários</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <div class="container container-header-conteudo">
      <h3>Conteúdos</h3>
    </div>
    <div class="container container-form-conteudo">
      <form th:action="@{'/conteudo/edit/' + ${conteudo.id}}" method="POST" th:object="${conteudo}">
        <div th:if="${erro}" class="alert alert-danger"> <span th:text="${erroMsg}"></span>
      </div>
          <div class="form-floating mb-3">
              <input type="number" class="form-control" id="Cod" placeholder="Código" disabled th:field="${conteudo.id}">
              <label for="Cod">Código</label>
          </div>
          <div class="form-floating mb-3">
              <input type="text" class="form-control" id="Nome" placeholder="Nome" th:field="${conteudo.nome}">
              <label for="Nome">Nome</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="Descricao" placeholder="Descrição" th:field="${conteudo.descricao}">
            <label for="Descricao">Descrição</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="Data" placeholder="Data" th:field="${conteudo.data}">
            <label for="Data">Data</label>
          </div>
          <div class="form-floating mb-3">
            <select class="form-select" id="floatingSelect" aria-label="Selecione um usuário" th:field="*{usuario.id}" required>
                <option th:each="usuario : ${usuarios}" th:value="${usuario.id}" th:text="${usuario.nome}"></option>
            </select>
            <label for="floatingSelect">Selecione um usuário</label>
          </div>
          <div class="row">
            <div class="col">
                <a th:href="@{/}" class="btn btn-outline-secondary btn-form"> <i class="fa fa-backspace"></i> Voltar</a>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-outline-success btn-form"> <i class="fa fa-save"></i> Salvar</button>
            </div>
        </div>
      </form>
    </div>
</body>
</html>